[user]
	email = dpaskalev@gmail.com
	name = Daniel Paskalev
    username = dpaskal
[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
    ui = auto
[alias]
    co = checkout
    st = status
    #############
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase --interactive
    rbs = rebase --skip
    #############
    lg = "!git --no-pager log --color --graph --pretty=format:'%C(magenta)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit -n 10; echo"

